

h1 {
    font-size: 20px;
}

.movie-entry {
    border: 1px solid black;
    width: 25%;
    font-size: 20px;
    padding: 10px;
}

.movieList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.details-hidden {
    background: green;
}

.details-visible {
    background: red;
}
