
h1 {
    font-size: 20px;
}

.movie-entry {
    border: 1px solid black;
    width: 50%;
    font-size: 20px;
    padding: 10px;
}

.movieList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.detailsHidden, .detailsVisible {
    font-size: 15px;
    max-height: 0;
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
.detailsVisible {
    max-height: 1000px;
}

.filter {
    
}
